body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item {
  list-style-type: none;
  padding: 16px;
  text-decoration: none;
  color: #ffffff;
}

.player-card-content {
  text-align: center;
  border: 4px solid rgb(234, 140, 0);
  margin: 5px;
}

.orange {
  color: rgb(234, 140, 0);
}

.borderButton {
  border: 4px solid rgb(234, 140, 0);
}

.gray {
  color: #696969;
}

.MuiTableCell-head {
  align-content: center;
  color: rgb(234, 140, 0);
}
